%menu-panel {
  border: var(--decor-border-100);
  border-radius: var(--decor-radius-200);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.21);
}
%menu-panel {
  border-color: var(--gray-300);
  background-color: var(--white);
}
%menu-panel > ul > li {
  list-style-type: none;
}
%menu-panel-separator {
  text-transform: uppercase;
  color: var(--gray-400);
}
%menu-panel-header + ul,
%menu-panel-separator:not(:first-child) {
  border-top: var(--decor-border-100);
  border-color: var(--gray-300);
}
%menu-panel-header {
  background-color: var(--gray-050);
}
%menu-panel-header::before {
  @extend %with-info-circle-fill-color-icon, %as-pseudo;
  font-size: 1.1em;
}
%menu-panel .is-active > *::after {
  @extend %with-check-plain-mask, %as-pseudo;
  background-color: var(--magenta-600);
}
