%with-icon {
  background-repeat: no-repeat;
  background-position: center;
}
%as-pseudo {
  display: inline-block;
  content: '';
  visibility: visible;
  background-size: contain;
}
%with-cancel-plain-icon {
  @extend %with-icon;
  background-image: var(--cancel-plain-svg);
}
%with-copy-action-icon {
  @extend %with-icon;
  background-image: var(--copy-action-svg);
}
