%tooltip-bubble,
%tooltip-tail {
  color: var(--white);
  background-color: var(--gray-500);
}
%tooltip-tail {
  background-color: transparent !important;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 18px solid var(--gray-500);
}
%tooltip-bubble {
  font-weight: normal;
  border-radius: var(--decor-radius-200);
  box-shadow: 0 3px 1px 0 rgba(var(--black), .21);
}
