%stats-card {
  border: var(--decor-border-100);
  border-radius: var(--decor-radius-100);
}
%stats-card li {
  border-top: var(--decor-border-100);
}
%stats-card,
%stats-card li {
  border-color: var(--gray-200);
}
%stats-card a {
  color: var(--gray-900);
}
%stats-card,
%stats-card header::before {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}
%stats-card:hover,
%stats-card:focus {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
}
%stats-card header > :not(a):last-child {
  border: var(--decor-border-100);
  border-radius: 100%;
  border-color: var(--gray-200);
  background-color: var(--white);
}
%stats-card ul {
  /*TODO: %list-style-none?*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}
