%modal-dialog > label {
  background-color: rgba(var(--white), 0.9);
}
%modal-window {
  box-shadow: 2px 8px 8px 0 rgba(var(--black), 0.1);
}
%modal-window {
  /*%frame-gray-000*/
  background-color: var(--white);
  border: var(--decor-border-100);
  border-color: var(--gray-300);
}
%modal-window > footer,
%modal-window > header {
  @extend %frame-gray-800;
}
%modal-window > footer {
  border-top-width: 1px;
}
%modal-window > header {
  border-bottom-width: 1px;
}

%modal-window > header [for='modal_close'] {
  @extend %with-cancel-plain-icon; 

  cursor: pointer;
  border: var(--decor-border-100);
  /*%frame-gray-050??*/
  background-color: var(--gray-050);
  border-color: var(--gray-300);
  border-radius: var(--decor-radius-100);
}
