/*TODO: Move this to the reset */
* {
  border-width: 0;
}
%frame-border-000 {
  /* same as decor-border-000 - but need to think about being able to import color on its own*/
  border-style: solid;
}
%frame-brand-300 {
  @extend %frame-border-000;
  background-color: var(--transparent);
  border-color: var(--decor-brand-600, inherit);
  color: var(--typo-brand-600, inherit);
}

/* possibly filter bar */
/* modal close button */
%frame-gray-050 {
  @extend %frame-border-000;
  background-color: var(--gray-050);
  border-color: var(--gray-300);
  color: var(--gray-400);
}
/* modal main content */
%frame-gray-100 {
  @extend %frame-border-000;
  background-color: var(--white);
  border-color: var(--gray-300);
  color: var(--gray-600); /*  wasn't set */
}
/* hover */
%frame-gray-200 {
  @extend %frame-border-000;
  background-color: var(--transparent);
  border-color: var(--gray-700);
  color: var(--gray-800);
}
%frame-gray-300 {
  @extend %frame-border-000;
  background-color: var(--white);
  border-color: var(--gray-700);
  color: var(--gray-800);
}
/* button */
/**/
%frame-gray-400 {
  @extend %frame-border-000;
  background-color: var(--gray-050);
  border-color: var(--gray-300);
  color: var(--gray-800);
}
%frame-gray-500 {
  @extend %frame-border-000;
  background-color: var(--gray-050);
  border-color: var(--gray-300);
  color: var(--gray-400);
}

/* tabs */
%frame-gray-600 {
  @extend %frame-border-000;
  background-color: var(--gray-100);
  border-color: var(--gray-500);
  color: var(--gray-500);
}
/* active */
%frame-gray-700 {
  @extend %frame-border-000;
  background-color: var(--gray-200);
  border-color: var(--gray-700);
  color: var(--gray-800);
}
/* modal bars */
%frame-gray-800 {
  @extend %frame-border-000;
  background-color: var(--gray-050);
  border-color: var(--gray-300);
  color: var(--gray-900);
}
%frame-gray-900 {
  @extend %frame-border-000;
  background-color: var(--gray-100);
  border-color: var(--gray-300);
  color: var(--gray-900);
}

%frame-yellow-500 {
  @extend %frame-border-000;
  background-color: var(--yellow-050);
  border-color: var(--color-warning);
}
%frame-yellow-800 {
  @extend %frame-border-000;
  background-color: var(--yellow-500);
  border-color: var(--yellow-800);
  color: var(--white);
}
%frame-green-500 {
  @extend %frame-border-000;
  background-color: var(--green-050);
  border-color: var(--green-500);
  color: var(--green-500);
}
%frame-green-800 {
  @extend %frame-border-000;
  background-color: var(--green-500);
  border-color: var(--green-800);
  color: var(--white);
}
%frame-blue-200 {
  @extend %frame-border-000;
  background-color: var(--white);
  border-color: var(--blue-300);
  color: var(--blue-300);
}
%frame-blue-300 {
  @extend %frame-border-000;
  background-color: var(--white);
  border-color: var(--blue-500);
  color: var(--blue-500);
}
%frame-blue-500 {
  @extend %frame-border-000;
  background-color: var(--blue-050);
  border-color: var(--blue-500);
  color: var(--blue-800);
}
%frame-blue-600 {
  @extend %frame-border-000;
  background-color: var(--blue-200);
  border-color: var(--gray-400);
  color: var(--blue-050);
}
%frame-blue-700 {
  @extend %frame-border-000;
  background-color: var(--blue-400);
  border-color: var(--blue-800);
  color: var(--white);
}
%frame-blue-800 {
  @extend %frame-border-000;
  background-color: var(--blue-500);
  border-color: var(--blue-800);
  color: var(--white);
}
%frame-blue-900 {
  @extend %frame-border-000;
  background-color: var(--blue-700);
  border-color: var(--blue-800);
  color: var(--white);
}
%frame-red-300 {
  @extend %frame-border-000;
  background-color: var(--transparent);
  border-color: var(--red-500);
  color: var(--red-500);
}
%frame-red-500 {
  @extend %frame-border-000;
  background-color: var(--red-050);
  border-color: var(--red-500);
  color: var(--red-800);
}
%frame-red-600 {
  @extend %frame-border-000;
  background-color: var(--red-200);
  border-color: var(--gray-400);
  color: var(--white);
}
%frame-red-700 {
  @extend %frame-border-000;
  background-color: var(--red-500);
  border-color: var(--red-800);
  color: var(--white);
}
%frame-red-800 {
  @extend %frame-border-000;
  background-color: var(--red-500);
  border-color: var(--red-800);
  color: var(--white);
}
%frame-red-900 {
  @extend %frame-border-000;
  background-color: var(--red-700);
  border-color: var(--red-800);
  color: var(--white);
}
%frame-magenta-300 {
  @extend %frame-border-000;
  background-color: var(--white);
  border-color: var(--magenta-600);
  color: var(--magenta-600);
}
%frame-magenta-800 {
  @extend %frame-border-000;
  background-color: var(--magenta-500);
  border-color: var(--magenta-800);
  color: var(--white);
}
%frame-steel-300 {
  @extend %frame-border-000;
  background-color: var(--white);
  border-color: var(--steel-600);
  color: var(--steel-600);
}
%frame-steel-800 {
  @extend %frame-border-000;
  background-color: var(--steel-500);
  border-color: var(--steel-800);
  color: var(--white);
}
%frame-cobalt-300 {
  @extend %frame-border-000;
  background-color: var(--white);
  border-color: var(--cobalt-600);
  color: var(--cobalt-600);
}
%frame-cobalt-800 {
  @extend %frame-border-000;
  background-color: var(--cobalt-500);
  border-color: var(--cobalt-800);
  color: var(--white);
}
%frame-indigo-300 {
  @extend %frame-border-000;
  background-color: var(--white);
  border-color: var(--indigo-600);
  color: var(--indigo-600);
}
%frame-indigo-800 {
  @extend %frame-border-000;
  background-color: var(--indigo-500);
  border-color: var(--indigo-800);
  color: var(--white);
}
%frame-teal-300 {
  @extend %frame-border-000;
  background-color: var(--white);
  border-color: var(--teal-600);
  color: var(--teal-600);
}
%frame-teal-800 {
  @extend %frame-border-000;
  background-color: var(--teal-500);
  border-color: var(--teal-800);
  color: var(--white);
}
%frame-cyan-300 {
  @extend %frame-border-000;
  background-color: var(--white);
  border-color: var(--cyan-600);
  color: var(--cyan-600);
}
%frame-cyan-800 {
  @extend %frame-border-000;
  background-color: var(--cyan-500);
  border-color: var(--cyan-800);
  color: var(--white);
}
