:root {
  --color-primary: var(--blue-500);
  --color-dangerous: var(--red-500);
  --color-primary-disabled: var(--blue-500);
  --color-transparent: transparent; /* useful or not? If I'm doing this what about $color-current ?*/

  --color-neutral: var(--gray-500);
  --color-action: var(--blue-500);
  --color-info: var(--blue-500);
  /*--color-active: var(--blue-500); ?? form pre-focus*/
  --color-success: var(--green-500);
  --color-failure: var(--red-500);
  --color-danger: var(--red-500);
  --color-warning: var(--yellow-500);
  --color-alert: var(--orange-500);

  /* --color-keyline-000: var(--white); */
  /* --color-keyline-050: var(); */
  /* --color-keyline-100: var(--gray-100); */
  /* --color-keyline-200: var(--gray-200); */
  /* --color-keyline-300: var(--gray-300); */
  /* --color-keyline-400: var(--gray-400); */
  /* --color-keyline-500: var(--gray-500); */
  /* --color-keyline-600: var(--gray-600); */
  /* --color-keyline-700: var(); */
  /* --color-keyline-800: var(); */
  /* --color-keyline-900: var(--black); */
}
